.question-icon, .settings-icon, .spacer, .bulb-icon, .check-icon, .paper-icon, .man-icon, .man-icon-active, .gear-icon{
	background: url(sprites-icons.png) no-repeat;
	display:block;

}

.question-icon{
	background-position: -38px -36px ;
	width: 24px;
	height: 24px;
	float:left;
	margin-right:20px;
}

.settings-icon{
	background-position: -40px -139px ;
	width: 24px;
	height: 24px;
	float:left;
}

.spacer{
	background-position: -150px -34px ;
	width: 1px;
	height: 30px;
	float:left;
	margin-right:10px;
	margin-left:-10px;
}

.bulb-icon{
	background-position: -143px -141px ;
	width: 14px;
	height: 35px;
}

.check-icon{
	background-position: -246px -46px ;
	width: 23px;
	height: 32px;
}

.paper-icon{
	background-position: -247px -147px ;
	width: 19px;
	height: 35px;
}

.man-icon{
	background-position: -342px -38px ;
	width: 20px;
	height: 20px;
}

.man-icon-active{
	background-position: -347px -149px ;
	width: 20px;
	height: 20px;
}

.gear-icon{
	background-position: -441px -37px ;
	width: 20px;
	height: 20px;
}

